[submodule "Faculty Projects/Faculty Projects/Data-Mining"]
	path = Faculty Projects/Faculty Projects/Data-Mining
	url = https://github.com/MahmoudEssam707/Data-Mining
[submodule "Faculty Projects/Faculty Projects/Data-Base"]
	path = Faculty Projects/Faculty Projects/Data-Base
	url = https://github.com/MahmoudEssam707/Data-base
[submodule "Faculty Projects/Data-Base"]
	path = Faculty Projects/Data-Base
	url = https://github.com/MahmoudEssam707/Data-base
[submodule "Faculty Projects/Faculty Projects/Regression-Project"]
	path = Faculty Projects/Faculty Projects/Regression-Project
	url = https://github.com/MahmoudEssam707/Regression-Project
[submodule "Faculty Projects/Faculty Projects/MobileProject"]
	path = Faculty Projects/Faculty Projects/MobileProject
	url = https://github.com/MahmoudEssam707/MobileProject
[submodule "Faculty Projects/Faculty Projects/Embedded-Project"]
	path = Faculty Projects/Faculty Projects/Embedded-Project
	url = https://github.com/MahmoudEssam707/Embedded-Project
[submodule "Self Projects/Walmart Analysis"]
	path = Self Projects/Walmart Analysis
	url = https://github.com/MahmoudEssam707/Walmart
